* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    background-color:rgba(228, 225, 225, 1);
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    font-family: "Inter", sans-serif;  
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
header div{
    display: flex;
    gap: 24px;
}

header a {
    gap: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    color: var(--secondary-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meios {
    color: white;
    text-align: center;
    position: relative;
}

.meios h1 {
    margin-left: 14vh;
    align-items: center;
    font-size: 15vh;
    color: black;
}

.meios span {
    position: absolute;
    font-size: 21vw;
    top: -50%;
    left: 250px;
    opacity: 0.3;
}

.container {
    display: flex;
}

.description {
    width: 50%;
    color: var(--secondary-color);
    z-index: 1;
}

.description h2 {
    font-size: 64px;
}

.description p {
    font-size: 20px;
    width: 500px;
}

.action {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action a{
    background-color: #ffffff;
    height: 8vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 50vh;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-style: italic;
}

.pessoas-icone {
    top: 20vh;
    margin-left: 15vh;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 5vh;
}
.imagem1 {
    top: -50vh;
    margin-right: 100vh;
    right: 100%;
    transform: translate(-50%, -50%);
    height: 5vh;
}

